/* Font */


/* 
Work Sans 700, 600, 500, 400
*/

#fff4e6 #ff900e #fff4e7
/* font end */


/* color */


/* color end */


/* universal style */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    border-radius: 5px;
}

button {
    background-color: #FF900E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 25px;
}

p {
    font-size: 16px;
    color: #727272;
    font-weight: 400;
}

.header__bg {
    background-color: #fff4e6;
}

.brand-title {
    font-size: 45px;
    color: #131313;
    font-weight: 700;
}

.navbar-links a {
    font-size: 16px;
    color: #424242;
    font-weight: 500;
}


/* universal style end */


/* Mobile design start */


/* navbar mobile start*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.brand-title {
    font-size: 1.5rem;
    margin-top: 0.4rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.facts__card img {
    width: 45px;
}

.sponsor__img img {
    height: 40px;
    width: 146px;
}

@media (max-width: 576px) {
    button {
        margin-top: 20px;
    }
    .container {
        max-width: 576px;
        width: 95%;
        margin: 0 auto;
    }
    .brand__center {
        text-align: center;
        margin-top: 35px;
    }
    .list__center {
        text-align: center;
    }
    .fact__center {
        text-align: center;
    }
    .sponsor__center {
        text-align: center;
        margin: 60px 0;
    }
    .header__bg {
        padding: 15px;
        margin-bottom: 25px;
    }
    .toggle-button {
        display: flex;
        top: 1.4rem
    }
    .navbar-links {
        display: none;
        width: 100%;
        margin-top: 20px;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: 0.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .features__img img {
        margin: 10px 0;
    }
    .features__card {
        /* border: 2px solid red; */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 10px 0;
        margin: 20px 0;
    }
    .card {
        width: 90%;
        /* border: 2px solid black; */
        margin: 4px auto;
    }
    .card p,
    h5 {
        margin: 5px 0;
    }
    .architect {
        margin: 20px 0;
    }
    .experience {
        background-color: #FF900E;
        width: 120px;
        color: white;
        text-align: center;
        border-radius: 4px;
        padding: 20px;
        position: relative;
        top: -45px;
    }
    .experience>p,
    .experience>h1 {
        color: white;
        margin: 0;
    }
    .facts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    .facts__card {
        border: 1px solid #FF900E;
        width: 140px;
        padding: 20px;
        text-align: center;
        margin: 20px 0;
    }
    .facts h2,
    p {
        margin: 4px 0;
    }
    .img__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
    .footer {
        background-color: #FFF4E7;
        padding: 10px;
        text-align: center;
        margin-top: 20px;
    }
}


/* navbar mobile end */


/* mobile design end */


/* desktop design start */

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


/* header start */

.header__bg {
    padding: 20px;
}

.brand__center {
    text-align: center;
}


/* header end */


/* feaures list start */


/* feaures list end */


/* features__two start */


/* features__two end */


/* desktop design end */